export AVAX_NODE_NAME=avax_staker_name
export AVAX_NETWORK_ID=statalanche
export AVAX_HTTP_HOST=127.0.0.1
export AVAX_HTTP_PORT=9655
export AVAX_LOG_LEVEL=info
export AVAX_HTTP_TLS_ENABLED=false
export AVAX_STAKING_ENABLED=true
export AVAX_STAKING_PORT=9651
export AVAX_BOOTSTRAP_IPS="98.117.62.45:9653"
export AVAX_BOOTSTRAP_IDS="NodeID-E349V27puxyemQTc6QDDGaLD1kEF1GJfa"
export REMOTE_SUDO_PASS=SuPerSeCr3tPa55